body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signUpHeader a{
  text-decoration: none;
  color:black;
}
.button-login button{
  max-width:30%;
  height:50px;
  border-radius: 10px;
  flex-grow: 1;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(43,55,75);
  border:none;
}
.button-login{
  display: flex;
  justify-content: center;
  
}
/** Login **/
.formSection-login{
  max-width: 650px;
  margin: 0 auto;
  background:#fff; 
  box-shadow: 2px 2px 2px 1px rgba(122, 120, 120, 0.2);
}
.formSection-login  input{
  width:100%;
  border:0;
  font-size:20px;
}
.formSection-login fieldset{
   border-radius: 5px;
   margin:30px 0px;
}
/** SignUp **/
.signUpHeader{
  text-align: center;
}
.formSection{
  max-width: 800px;
  margin: 0 auto;
  background:#fff; 
  box-shadow: 2px 2px 2px 1px rgba(122, 120, 120, 0.2);
}
.formSection  input{
  width:100%;
  border:0;
  font-size:20px;
}
.formSection fieldset{
   border-radius: 5px;
   margin:30px 0px;
}
.logo-area{
  width: 100%;
  display: flex;
  align-self: center;
  padding: 5rem 0rem;
}

.signup-logo{
  margin:0 auto;
  width:10%;
  
}
.main-signup{
  background-color: rgb(245,247,249);
  height:125vh;
}
.signupFollowUp {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.signupFollowUp span { 
   background:#fff; 
   padding:0 10px; 
}
.form-group{
  max-width: 500px;
  margin:0 auto;
  background:#fff; 

  padding: 2rem;
}

/** Student Dashboard **/

.logo-SDashboard{
  border:1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41,57,79);
}

.img-avatar{
  border-radius:50%;
  height:10vh;

  padding: 0.5rem;
}
.img-logo{
  width:20%;
}
.main-studentdashbaord{
  display: flex;
  height:100vh;
  padding: 0;
  margin: 0;
}
.nav-detail{
  width: 19.9%;
  background-color: rgb(41,57,79);
  margin: 0;
}
.alumni-list{
  padding: 1rem 3rem;
  flex-grow: 1;
}
.alumni-list h1{
  font-size:50px;
}
.search-list{
  display: flex;
  justify-content: space-between;
}
.search-list input{
  flex-grow: 1;
  font-size: 30px;
}
hr{
  margin: 2rem 0rem;
}
.nav-detail nav ul li{
  list-style-type: none;
  color:white;
  padding: 1rem;
  font-size:25px;
}
.alumni-list button{
  width:20%;
  height:50px;
  color:white;
  background-color: rgb(41,57,79);
  margin-left:20px;
  font-weight:bold;
  font-size:15px;

}
/** Footer **/

.extra-div{
  width:100%;
  display: flex; 
  background-color: rgb(41,57,79);
  justify-content: center;
  padding: 0.5rem;
}
.extra-div img{
  width:5%;
}
